:root{
	--bs-body-font-family: "Audiowide", sans-serif;
	--bs-body-color:#ffe81f;
	--bs-body-bg:#000000;
	
	--bs-link-color:#ff0000;
    --bs-link-hover-color:#cc0404;
}
.navbar{
	--bs-navbar-color:#ffe81f;
    --bs-navbar-hover-color:#ffe81f;
    --bs-navbar-disabled-color:#ffe81f;
    --bs-navbar-active-color:#ffe81f;
	--bs-navbar-brand-color:#ffe81f;
    --bs-navbar-brand-hover-color:#ffe81f;
	--bs-navbar-toggler-border-color:#ffe81f;
}
.dropdown-menu{
	--bs-dropdown-bg:#000000;
	--bs-dropdown-link-color:#ffe81f;
}
.img{
	width: 100%;
	height: 100%;
}
.page-title{
	text-align:center;
	font-size:70px;
}
#sw{
	width: 500px;
	height: auto;
}
#swlogo{
	margin: auto;
	width: 500px;
	height: auto;
}