body{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Stary-night-sky_-_West_Virginia_-_ForestWander.jpg/640px-Stary-night-sky_-_West_Virginia_-_ForestWander.jpg");
    text-align: center;
}
h1{
	color:Yellow;
	font-size: 60px;
}
h2{
	color:Yellow;
	font-size: 30px;
}
p{
	color:Yellow;
	font-size: 20px;
}
a:link {
	color: yellow;
	text-decoration: none;
}

a:visited {
	color: yellow;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}
table{
	display: flex;
	
	/*align-content: center;
	align-items: center;*/
	justify-content: center;
	color: yellow;
}

ol, ul{
	color: yellow;
}

th, td{
	border: 1px solid yellow;
	
}
th{
	font-size: 30px;
}

div{
	margin: auto;
	width: 50%;
}

nav{
	position: sticky;
	top: 0;
}

.navigation{
	background-color: gray;
	display: block;
	width: 100%;
	height: 80px;
	opacity: 0.5;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 40px;
	display: block;
	padding: 1px 16px;
	float: left;
}