<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/game.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    </head>
    <body>
		
        {% include navigation.html %}
        
        {{ content }}
	
    </body>
</html>